<!doctype html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - Microblog</title>
        {% else %}
        <title> Welcome to Microblog!</title>
        {% endif %}
    </head>
    <body>
        {% if user %}
        <h1>Hi, {{ user.Username }}!</h1>
        {% else %}
        <h1> Hello, new user! </h1>
        { % endif %}
        <ul>
            <li>Recent Posts:</li>
            {% for post in posts %}
                <li>{{ post.author.Username }} says: {{ post.body }}</li>
            {% endfor %}
        </ul>
    </body>
</html>
